<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salient.nexttablayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NextTablayout">
        <activity android:name=".AddInActivity"
            android:parentActivityName=".MainActivity"
            android:label="Add Task"></activity>
        <activity android:name=".AddEventActivity"
            android:label="Add Event"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".UpdateActivity"
            android:label="Update Task"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".AddProjectTaskActivity"
            android:label="Add Project Task"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".DeleteNextActivity"
            android:label="Delete Next"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".AddProjActivity"
            android:label="Add Project"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MainActivity"
            android:label="Next">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>